In [1]:
import json
import csv
import re
import sys
import pandas as pd
import numpy as np
import heapq

import gensim
from nltk.tokenize import word_tokenize

#####################################################
# Functions
def csv_loader(PATH):
    text = pd.read_csv(PATH, names=['review','sentiment']) 
    return text

#####################################################
#args = sys.argv
#if len(args) < 2:
#    print("You forgot something")
FILE_1 = 'music_dev'  # name of interim csv file. For example: # games_train
FILE_2 = 'sew_val'  # name of comparison interim csv file. For example: # sew_train
N_DIS = 2   # number of dissimilar embeddings to select
# python3 cosine.py 'music_dev' 'sew_val' 2

In [2]:
# Load Interim CSV file and split into X and y
data_1 = csv_loader('../data/interim/' + FILE_1 + '.csv')
X_1, y_1 = data_1[['review']], data_1[['sentiment']]

In [3]:
# 
corp_1 = []
for i in range(5): 
    row = X_1.iloc[i]['review']
    corp_1.append(row)

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
count_vectorizer = TfidfVectorizer(stop_words='english')

In [5]:
sparse_matrix = count_vectorizer.fit_transform(corp_1)

In [8]:
# OPTIONAL: Convert Sparse Matrix to Pandas Dataframe if you want to see the word frequencies.
doc_term_matrix = sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names_out())
df

,abe,acquainted,address,amazing,asleep,awesome,bc,big,boring,bought,...,unfortunately,unintelligible,uplifting,vinyl,visits,won,worked,world,worst,young
0,0.000000,0.000000,0.000000,0.000000,0.327465,0.000000,0.000000,0.000000,0.000000,0.132098,...,0.000000,0.000000,0.000000,0.000000,0.163733,0.000000,0.163733,0.000000,0.000000,0.000000
1,0.000000,0.188982,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.188982,0.000000,...,0.188982,0.188982,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.188982
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.183646,0.000000,0.183646,0.000000,0.183646,0.000000,0.000000,...,0.000000,0.000000,0.183646,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.155691,0.000000,0.311382,0.000000,0.000000,0.000000,0.155691,0.000000,0.000000,0.125611,...,0.000000,0.000000,0.000000,0.155691,0.000000,0.155691,0.000000,0.155691,0.155691,0.000000

In [7]:
# Compute Cosine Similarity
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(df, df))

[[1.         0.         0.         0.01957225 0.01659296]
 [0.         1.         0.         0.         0.        ]
 [0.         0.         1.         0.         0.09398308]
 [0.01957225 0.         0.         1.         0.        ]
 [0.01659296 0.         0.09398308 0.         1.        ]]