# Imports

In [1]:
import pandas as pd

# Constants

In [2]:
FILE_1 = 'games_train'  
FILE_2 = 'sew_train'

# Read in Games Training Set

In [3]:
game_train = pd.read_csv('../data/interim/'+FILE_1+'.csv', dtype='string')
game_train.head(2)
#game_train['label'].astype(str)

                          review label
0          Five Stars Great Game     1
1  Five Stars Great conditions!!     1

# Take a random sample

## balanced

In [4]:
g_rand_even_00010 = game_train.groupby('label').apply(lambda x: x.sample(n=5, random_state=42))
g_rand_even_00100 = game_train.groupby('label').apply(lambda x: x.sample(n=50, random_state=42))
g_rand_even_01000 = game_train.groupby('label').apply(lambda x: x.sample(n=500, random_state=42))
g_rand_even_10000 = game_train.groupby('label').apply(lambda x: x.sample(n=5000, random_state=42))

## unbalanced

In [5]:
g_rand_00010 = game_train.sample(n=10, random_state=42).reset_index(drop=True)
g_rand_00100 = game_train.sample(n=100, random_state=42).reset_index(drop=True)
g_rand_01000 = game_train.sample(n=1000, random_state=42).reset_index(drop=True)
g_rand_10000 = game_train.sample(n=10000, random_state=42).reset_index(drop=True)

In [6]:
g_rand_even_00010

                                                         review label
label
0     112412  Don't buy it. I cannot believe how worse this ...     0
      199704  The last Super Nintendo game This is a very un...     0
      276170  Wanted to like it..... I wanted so badly to li...     0
      316664  is impossible to create a good looking player ...     0
      78051   Marvel to the Rescue? I'm not big on comic boo...     0
1     178221  disappointed in the fan response I am quite di...     1
      336851  Graphically superior, but lacks support from W...     1
      159528  You know what your getting. Good fun and some ...     1
      161222  Sad to see so many down grades on PS3, but it ...     1
      165715  Five Stars Nice and VERY long so the husband c...     1

In [7]:
g_rand_00010

                                              review label
0  Great game Pretty fun, however i'm more a GoW ...     1
1  Five Stars A great disc, you can keep using it...     1
2      Five Stars Game is in great condition thanks.     1
3                         Five Stars perfect product     1
4  Rocking out This game is classic.  The disk wo...     1
5  17-in-1 Bundle Pack For Nintendo DS Lite I bou...     1
6  Moving in a new direction The Good: Fantastic ...     1
7  A perfect gaming companion for your PC  Brief ...     1
8  Five Stars really good game, not my favorite z...     1
9                   Fun! For kids, fun and creative!     1

# Check Distributions

### Games unbalanced

In [8]:
games_rand = [g_rand_00010, g_rand_00100, g_rand_01000, g_rand_10000]
games_rand_names = ['g_rand_00010', 'g_rand_00100', 'g_rand_01000', 'g_rand_10000']

In [9]:
for i in range(len(games_rand)):
    corp_len = len(games_rand[i])
    name = games_rand_names[i]
    pos = 0
    neg = 0
    for j in range(corp_len):
        if games_rand[i]['label'][j] == '1':
            pos +=1
        else:
            neg +=1
    print(f"For Dataset {name}\nCount Positive: {pos}\nCount Negative: {neg}\nRatio: {round(pos/corp_len*100,2)}% Positive\n")

For Dataset g_rand_00010
Count Positive: 10
Count Negative: 0
Ratio: 100.0% Positive

For Dataset g_rand_00100
Count Positive: 90
Count Negative: 10
Ratio: 90.0% Positive

For Dataset g_rand_01000
Count Positive: 888
Count Negative: 112
Ratio: 88.8% Positive

For Dataset g_rand_10000
Count Positive: 8743
Count Negative: 1257
Ratio: 87.43% Positive

### Games Balanced

In [10]:
games_rand_even = [g_rand_even_00010, g_rand_even_00100, g_rand_even_01000, g_rand_even_10000]
games_rand__even_names = ['g_rand_even_00010', 'g_rand_even_00100', 'g_rand_even_01000', 'g_rand_even_10000']

In [11]:
for i in range(len(games_rand_even)):
    corp_len = len(games_rand_even[i])
    name = games_rand__even_names[i]
    pos = 0
    neg = 0
    for j in range(corp_len):
        if games_rand_even[i]['label'][j] == '1':
            pos +=1
        else:
            neg +=1
    print(f"For Dataset {name}\nCount Positive: {pos}\nCount Negative: {neg}\nRatio: {round(pos/corp_len*100,2)}% Positive\n")

For Dataset g_rand_even_00010
Count Positive: 5
Count Negative: 5
Ratio: 50.0% Positive

For Dataset g_rand_even_00100
Count Positive: 50
Count Negative: 50
Ratio: 50.0% Positive

For Dataset g_rand_even_01000
Count Positive: 500
Count Negative: 500
Ratio: 50.0% Positive

For Dataset g_rand_even_10000
Count Positive: 5000
Count Negative: 5000
Ratio: 50.0% Positive

# Save to csv

In [12]:
g_rand_even_00010.to_csv('../data/random/games_even_00010.csv', index=False, header=False)
g_rand_even_00100.to_csv('../data/random/games_even_00100.csv', index=False, header=False)
g_rand_even_01000.to_csv('../data/random/games_even_01000.csv', index=False, header=False)
g_rand_even_10000.to_csv('../data/random/games_even_10000.csv', index=False, header=False)

In [13]:
g_rand_00010.to_csv('../data/random/games_00010.csv', index=False, header=False)
g_rand_00100.to_csv('../data/random/games_00100.csv', index=False, header=False)
g_rand_01000.to_csv('../data/random/games_01000.csv', index=False, header=False)
g_rand_10000.to_csv('../data/random/games_10000.csv', index=False, header=False)

# Read Sew Data Set

In [14]:
sew_train = pd.read_csv('../data/interim/'+FILE_2+'.csv', dtype='string')
sew_train.head(2)

                                              review label
0  Little, inexpensive, and effective For the pri...     1
1  Recommend! I love this paper! I was kinda skep...     1

# Take a Sample

## balanced

In [15]:
s_rand_even_00010 = sew_train.groupby('label').apply(lambda x: x.sample(n=5, random_state=42))
s_rand_even_00100 = sew_train.groupby('label').apply(lambda x: x.sample(n=50, random_state=42))
s_rand_even_01000 = sew_train.groupby('label').apply(lambda x: x.sample(n=500, random_state=42))
s_rand_even_10000 = sew_train.groupby('label').apply(lambda x: x.sample(n=5000, random_state=42))

## unbalanced

In [16]:
s_rand_00010 = sew_train.sample(n=10, random_state=42).reset_index(drop=True)
s_rand_00100 = sew_train.sample(n=100, random_state=42).reset_index(drop=True)
s_rand_01000 = sew_train.sample(n=1000, random_state=42).reset_index(drop=True)
s_rand_10000 = sew_train.sample(n=10000, random_state=42).reset_index(drop=True)

# Check Distributions

### Sew unbalanced

In [17]:
sew_rand = [s_rand_00010, s_rand_00100, s_rand_01000, s_rand_10000]
sew_rand_names = ['s_rand_00010', 's_rand_00100', 's_rand_01000', 's_rand_10000']

In [18]:
for i in range(len(sew_rand)):
    corp_len = len(sew_rand[i])
    name = sew_rand_names[i]
    pos = 0
    neg = 0
    for j in range(corp_len):
        if sew_rand[i]['label'][j] == '1':
            pos +=1
        else:
            neg +=1
    print(f"For Dataset {name}\nCount Positive: {pos}\nCount Negative: {neg}\nRatio: {round(pos/corp_len*100,2)}% Positive\n")

For Dataset s_rand_00010
Count Positive: 8
Count Negative: 2
Ratio: 80.0% Positive

For Dataset s_rand_00100
Count Positive: 92
Count Negative: 8
Ratio: 92.0% Positive

For Dataset s_rand_01000
Count Positive: 942
Count Negative: 58
Ratio: 94.2% Positive

For Dataset s_rand_10000
Count Positive: 9399
Count Negative: 601
Ratio: 93.99% Positive

### Sew balanced

In [19]:
sew_rand_even = [s_rand_even_00010, s_rand_even_00100, s_rand_even_01000, s_rand_even_10000]
sew_rand__even_names = ['s_rand_even_00010', 's_rand_even_00100', 's_rand_even_01000', 's_rand_even_10000']

In [20]:
for i in range(len(sew_rand_even)):
    corp_len = len(sew_rand_even[i])
    name = sew_rand__even_names[i]
    pos = 0
    neg = 0
    for j in range(corp_len):
        if sew_rand_even[i]['label'][j] == '1':
            pos +=1
        else:
            neg +=1
    print(f"For Dataset {name}\nCount Positive: {pos}\nCount Negative: {neg}\nRatio: {round(pos/corp_len*100,2)}% Positive\n")

For Dataset s_rand_even_00010
Count Positive: 5
Count Negative: 5
Ratio: 50.0% Positive

For Dataset s_rand_even_00100
Count Positive: 50
Count Negative: 50
Ratio: 50.0% Positive

For Dataset s_rand_even_01000
Count Positive: 500
Count Negative: 500
Ratio: 50.0% Positive

For Dataset s_rand_even_10000
Count Positive: 5000
Count Negative: 5000
Ratio: 50.0% Positive

# Save to CSV

In [21]:
s_rand_00010.to_csv('../data/random/sew_00010.csv', index=False, header=False)
s_rand_00100.to_csv('../data/random/sew_00100.csv', index=False, header=False)
s_rand_01000.to_csv('../data/random/sew_01000.csv', index=False, header=False)
s_rand_10000.to_csv('../data/random/sew_10000.csv', index=False, header=False)

In [22]:
s_rand_even_00010.to_csv('../data/random/sew_even_00010.csv', index=False, header=False)
s_rand_even_00100.to_csv('../data/random/sew_even_00100.csv', index=False, header=False)
s_rand_even_01000.to_csv('../data/random/sew_even_01000.csv', index=False, header=False)
s_rand_even_10000.to_csv('../data/random/sew_even_10000.csv', index=False, header=False)